@mixin center_h() {
    transform: translateX(-50%);
    left: 50%;
}

$ratio: 750/375 !default;
$color-primary: #031739 !default;
$color-grey: #e6e6e6 !default;
$color-lightgrey: #999 !default;
$color-green: #00d62a !default;
$color-yellow: #bf9d5a !default;
$color-red: #f22020 !default;
$color-blue: #031739 !default;
$color-light-blue: #034090 !default;
$xs-screen: 340px;
html,
body {
    padding-top: 32px;
    width: 100%;
    color: darken($color-grey, 60%);
    background: #fff;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}

* {
    box-sizing: border-box;
}

a {
    font-size: 14px;
    color: darken($color-grey, 60%);
    &:active,
    &:focus,
    &:hover {
        color: $color-primary;
        text-decoration: none;
    }
}

.pos-abs {
    position: absolute;
}

.text-green {
    color: $color-green !important;
}

.text-primary {
    color: $color-primary !important;
}

.text-red {
    color: $color-red !important;
}

.hide {
    display: none !important;
}


.container {
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 1020px;
  }
}

#home {
  position: absolute;
  top: -64px;
  left: 0;
}

#partener {
  position: absolute;
  top: 40px;
  left: 0;
}

#union {
  position: absolute;
  top: 40px;
  left: 0;
}

#product {
  position: absolute;
  top: -60px;
  left: 0;
}

#contact {
  position: absolute;
  top: 140px;
  left: 0;
}

.top-navbar__wrapper {
    margin-bottom: 0;
    border-radius: 0;
    background: $color-blue;
    border: 0;
    min-height: 65px;
    filter:alpha(Opacity=90);
    opacity: 0.9;

    .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }

    &.navbar-default .navbar-nav {
        > li {

          &.active {
            > a {
              color: #fff;
              background-color: lighten($color-primary, 10%);
              &:hover {
                  background-color: lighten($color-primary, 10%);
              }
            }
          }
           > a {
            padding: 25px 20px;
            color: #fff;
            font-size: 14px;
            line-height: 1;
            &:hover {
                background-color: lighten($color-primary, 10%);
            }
          }
        }
    }

    .logo {
        margin-top: -3px;
    }
}

@media (min-width: 768px) {
  .top-navbar__wrapper {
    border-radius: 0;
  }
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border-color: lighten($color-blue, 5%);
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: lighten($color-blue, 10%);
  border-color: lighten($color-blue, 20%);
}

.top-banner__wrapper {
    background: url(../images/top-banner_bg.jpg) no-repeat top right;
    .logo {
        margin: 10px 0;
        img {
            height: 80px;
        }
    }
    .container {
        position: relative;
        .search {
            position: absolute;
            right: 15px;
            top: 50px;
            .input-group-addon {
                border-radius: 0;
                background: transparent;
                border-color: $color-grey;
                color: darken($color-grey, 20%);
            }
            .form-control {
                padding-left: 0;
                border-radius: 0;
                border-left: 0;
                box-shadow: none;
                border-color: $color-grey;
                &:active,
                &:focus {
                    border-color: $color-grey;
                }
            }
        }
        @media(max-width: 768px) {
            .search {
                position: relative;
                top: 0;
                right: 0;
            }
        }
    }
}

.carousel__wrapper {
    position: relative;
    .carousel {
        .carousel-inner {
            .item > img {
                width: 100%;
            }
        }
    }
    .bg-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
}

.product__wrapper {
  position: relative;
  background: #eee;

  .content-title {
    margin-top: 20px;
  }
}

.content-title {
  text-align: center;

  h2 {
    padding-bottom: 10px;
    display: inline-block;
    font-size: 22px;
    color: $color-light-blue;
    border-bottom: 2px solid #999999;
  }
}

.product-item {
  margin-top: 40px;

  &.product-item1 {
    padding-right: 30px;
    background: url(../images/product_split.png) no-repeat center right;

    @media(max-width: 768px) {
      padding-bottom: 0;
      background: none;
    }
  }
  &.product-item2 {
    padding-right: 30px;
    background: url(../images/product_split.png) no-repeat center right;
    @media(max-width: 768px) {
      margin-top: 0;
      background: none;
    }
  }
  &.product-item3 {
    padding-right: 30px;
    background: url(../images/product_split.png) no-repeat top right;
    @media(max-width: 768px) {
      margin-top: 0;
      padding-top: 0;
      background: none;
    }
  }
  .thumbnail {
    position: relative;
    padding: 40px 10px 20px;
    border: 0;
    min-height: 280px;
    background: none;

    .pro {
      margin: 0 auto;
      height: 70px;
      width: 70px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 10;
      position: relative;

      &.pro1 {
        background-image: url(../images/pro1.png);
      }
      &.pro2 {
        background-image: url(../images/pro2.png);
      }
      &.pro3 {
        background-image: url(../images/pro3.png);
      }
      &.pro4 {
        background-image: url(../images/pro4.png);
      }
    }

    &::before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background: rgba($color-light-blue, .85);
      z-index: 1;
      transition: all .3s;
      border-radius: 5px;
    }

    &:hover {
      &::before {
        height: 260px;
      }
      .pro {
        &.pro1 {
          background-image: url(../images/pro1_white.png);
        }
        &.pro2 {
          background-image: url(../images/pro2_white.png);
        }
        &.pro3 {
          background-image: url(../images/pro3_white.png);
        }
        &.pro4 {
          background-image: url(../images/pro4_white.png);
        }
      }

      .caption {
        h3 {
          color: #fff;
        }
        p {
          display: block;
          color: #fff;
        }
      }
    }

    .caption {
      position: relative;
      text-align: center;
      z-index: 10;

      h3 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: normal;
        color: $color-light-blue;
      }
      
      p {
        display: none;
        font-size: 13px;
        @media(max-width: 768px) {
          display: block;
        }
      }
    }
  }
}

.union-item {
  &.union-item2 {
    margin-top: 60px;
  }
  .thumbnail {
    border: 0;
    background: none;

    img {
      width: 120px;
    }

    .caption {
      color: #fff;
      text-align: center;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

.union-text {
  padding: 80px 40px 0px;
  background: #01193b;
  text-align: center;

  .content-title {
    margin-top: 120px;

    @media(max-width: 768px) {
      margin-top: -40px;
    }
  }

  p {
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
  }
}

.union__wrapper {
  position: relative;

  .union-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;

    @media(max-width: 768px) {
      > .row {
        background: $color-blue;
        margin-top: 68px;
        .col-sm-3:first-child {
          margin-top: 55px;
        }
      }
    }
  }

  .content-title {
    margin-top: 140px;

    @media(max-width: 768px) {
      margin-top: 60px;
    }

    h2 {
      color: #fff;
    }
  }
}
.partener__wrapper {
  position: relative;

  .partener-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;

    > .row {
      @media(max-width: 768px) {
        .col-sm-3:first-child {
          margin-top: 100px;
        }
      }
    }
  }

  .content-title {
    margin-top: 120px;
    @media(max-width: 768px) {
      margin-top: 60px;
    }
  }

  .partener-container {
    margin-top: 40px;
    background: rgba(#fff, .84);
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(#000, .24);

    @media(max-width: 768px) {
      margin-top: 0;
      background: transparent;
      border-radius: 0;
      box-shadow: transparent;
    }

    .col-sm-3 {
      border-color: #eee;
      border-style: solid;
      border-width: 1px 1px 0 0;
      @media(max-width: 768px) {
        border-width: 0;
      }

      &:nth-child(4n) {
        border-right: 0;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        border-top: 0;
      }
    }
  }
}
.contact__wrapper {
  position: relative;
  background: #034090;

  .contact-bg {
    width: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .content-title {
    margin-top: 230px;
    @media(max-width: 768px) {
      margin-top: 60px;
    }
    h2 {
      color: #fff;
    }
  }

  .focus {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    color: white;
  }
}
.contact-item {
  margin-top: 40px;
  color: #fff;
  text-align: center;
  &.contact-item2 {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 16px;
    color: #01c6ff;
  }
  p {
    font-size: 14px;
  }
}

.qrcode {
  display: block;
  width: 140px;
  margin: 0 auto -40px;
}
.partener-item {
  margin-top: 60px;
  min-height: 86px;

  .thumbnail {
    padding: 0;
    border: 0;
    background: none;
    height: 48px;
    overflow: hidden;

    .partener_color,
    .partener_grey {
      display: block;
      height: 48px;
      transition: transform .3s 0s;
    }

    @media(max-width: 768px) {
        .partener_grey {
          display: none;
        }
      }

    &:hover {
      .partener_color,
      .partener_grey {
        transform: translateY(-100%);

        @media(max-width: 768px) {
          transform: translateY(0);
        }
      }
    }
  }
}

.footer__container {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #8e8d8d;
    font-size: 12px;
    text-align: center;
}